---
import BaseLayout from '../layouts/Base.astro';
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { WORK_EXPERIENCE, TECHNICAL_SKILLS } from 'src/consts';
import { getFormattedDate } from 'src/utils/date';

---

<BaseLayout 
	title="Home"
	image='/demo.png'>
	<section>
		<h1 class="title">Hello World! I'm Pranjal Rane 👋</h1>
		
		<p class="mb-4 sm:mb-8">
			Let's `git commit` to some introductions!
			<br><br>	
			As a Full Stack Software Engineer, I specialize in weaving AI with cloud technologies to architect software that’s not only smart but also scales beautifully. I’m all about creating efficient, user-friendly systems—without any help from ChatGPT, I assure you! When not immersed in code, I’m likely plotting my next tech breakthrough. Ready to build something great? Let’s make software that’s worth tweeting about!
		</p>

		<p class="mb-4 sm:mb-8">
			Ps. No ChatGPT was harmed in the making whatsoever 😆
		</p>

		<div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-16">
		<h2 class="title">Work Experience</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				WORK_EXPERIENCE.map(({ id, company, position, start, end }) => (
					<li>
						{/* • <p class="inline-block sm:mt-2"> {getFormattedDate(start)} - {getFormattedDate(end)}{position} @ <u><a href={"/work/#"+id.toString()}>{company}</a></u></p> */}
						<div class="inline-block sm:mt-2">
							<span>{getFormattedDate(start)} - {getFormattedDate(end)}</span>
							<span> => </span>
							<span>{position} @ </span>
							<u><a href={"/work/#"+id.toString()}>{company}</a></u>
						</div>
					</li>
				))
			}
		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">Technical Skills</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					TECHNICAL_SKILLS.map(({ title, desc }) => (
						<li>
							<u>{title}:</u>
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
	</section>
</BaseLayout>
